.spacer2 {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer2 {
    background-image: url('/background-svg.svg');
}